.Stats {
  min-height: 93vh;
  display: flex;
  align-items: center;
  background-position: center;
  background-size: cover;
}

.Table {
  background-position: center;
  margin: auto;
  width: 60%;
  border: 1px solid darkgray;
  padding: 10px;
  margin-top: 20px;
}

th {
  padding: 10px;
}

td {
  padding: 10px;
}
